modules/__pycache__/*
extensions/__pycache__/*
modules/shop_pages/__pycache__/*
modules/mine_modules/__pycache__/*
modules/shop_pages/resources/__pycache__/*
saves.ini
saves.sqlite
saves.sqlite-journal
extensions/lastsave.txt
